body{
    box-sizing: border-box;
    margin: 0px;
    background-color: #F6D0B1;
}
header{
    position: fixed;
    height: 5%;
    width: 100%;
    z-index: 10;
    background-color: #638475;
}
#logo{
    top: 0%;
    left: 0%;
    position:absolute;
}

textarea{
    width: 90%;
}
nav{
    width: 70%;
    position: absolute;
    right: 10px
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
}
a{
    color: white;
    padding: 0px 2px;
    text-align: center;
    text-decoration: none;
}
a:hover,a:focus{
    background-color: #CE4760;
}
#content{
    position: absolute;
    width: 100%;
    top:10%;
}
.post{
    margin: auto;
    position: relative;
    display: block;
    height: 110px;
    width: 70%;
    margin-top: 10px;
    background-color: #CE4760;
    border: 2px groove #638475;
    border-radius: 5px;
}
.post:hover{
    position: relative;
    display: block;
    transform: scale(1.1,1.1);
    opacity: 100%;
    background-color: #638475;
    border: 0px;
}
.post .post-del {
    visibility: hidden;
}
.post:hover .post-del {
    visibility: visible;
}
.post-header{
    padding-left: 5px;
    position: relative;
    margin-bottom: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    height: 15px;
}
.post-scrollable{
    overflow: hidden;
    margin-top: 3px;
    white-space: pre-wrap;
    position: absolute;
    max-height: 75%;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    width: 100%;
    text-overflow: ellipsis;
}
.post-scrollable:hover{
    margin-top: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    position: absolute;
    width: 95%;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
}

.post-del{
    height: 70%;
    z-index: 1;
    position: absolute;
    padding: 3px;
    right: 0px;
    top:0%;
}

.post-del:hover
{
    display: block;
    color: #CE4760;
    position: absolute;
    z-index: 1;
    padding: 5px;
    height: 80%;
    right: 0px;
    top: 0%;
}
 #sendbtn{
    background-color: #7AB488;
    border-radius: .5em;
    position: relative;
    left:90%;
    text-transform: uppercase;
 }
 #sendbtn:hover,#sendbtn:focus{
    background-color: #638475;
    color: white;
    translate: 2px;
 }