body{
    box-sizing: border-box;
    margin: 0px 0px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #90E39A;
}
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    z-index: 10;
    font-size: large;
    font-weight: bolder;
    background-color: #638475;
}

textarea{
    width: 70%;
}
#logo{
    width: 30%;
}
#logo a,li a{
    height: 5%;
}
nav{
    width: 70%;
}
ul{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
a{
    align-self: center;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
}
li:hover,li:focus{
    background-color: #CE4760;
}
#content{
    position: absolute;
    width: 100%;
    top:10%;
}
.post{
    margin: auto;
    position: relative;
    display: block;
    height: 110px;
    width: 70%;
    margin-top: 10px;
    background-color: #638475;
    border-radius: 5px;
}
.post:hover{
    position: relative;
    display: block;
    opacity: 100%;
    border: 2px groove #638475;
    background-color: #DDF093;
}
.post .post-del {
    visibility: hidden;
}
.post:hover .post-del {
    visibility: visible;
}
.post-header{
    padding-left: 5px;
    position: relative;
    margin-bottom: 3px;
    font-weight: bolder;
    height: 15px;
}
.post-scrollable{
    overflow: hidden;
    margin-top: 3px;
    white-space: pre-wrap;
    position: absolute;
    max-height: 75%;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    width: 100%;
    text-overflow: ellipsis;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    padding-bottom: 0.5em;
}
.post-scrollable:hover{
    margin-top: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    position: absolute;
    width: 95%;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
}

.post-del{
    height: 70%;
    z-index: 1;
    position: absolute;
    padding: 3px;
    right: 0px;
    top:0%;
}

.post-del:hover
{
    display: block;
    color: white;
    position: absolute;
    z-index: 1;
    padding: 5px;
    height: 80%;
    right: 0px;
    top: 0%;
}
form{
    padding: 1em;
    width: 70%;
    margin: auto;
    margin-top: 1em;
    padding-bottom: 2em;
    background-color:#90E39A;
    border: 2px groove #638475;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    align-items: center;
}
 #sendbtn{
    align-self: flex-end;
    background-color: #638475;
    position: relative;
    right: 30%;
    border-radius: .5em;
    text-transform: uppercase;
 }
 #sendbtn:hover,#sendbtn:focus{
    background-color: #CE4760;
    color: white;
    translate: 2px;
 }